[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
autopep8 = "*"
ipython = "*"
pytest = "*"
msgpack = "*"

[packages]
falcon = "*"
pymysql = "*"
gunicorn = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
